@font-face {
    font-family: 'fontGame';
    src: url('../font/Pony.ttf');
}

.bookingMovie{
    font-family: 'fontGame';
}


.ghe{
    border: 3px solid orange;
    width: 45px;
    height: 35px;
    font-size: 12px;
    margin-left: 2%;
    margin-bottom: 1%;
    border-radius: 5px;
    cursor: pointer;
}

.rowNumber{
    /* font-size: 25px; */
    width: 45px;
    height: 35px;
    background: none;
    border:none;
    margin-left: 2%;
    margin-bottom: 1%;
    font-size: 30px;
    color: yellow;
    
}
.firstChar{
    color: yellow;
    font-size: 35px;
    margin-right: 15px;

}
.col8 {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.screen{
    margin-top: 30px;
    border-bottom: 50px solid rgb(255, 159, 95);
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    height: 100;
    width:80%;
    filter: drop-shadow(4px 30px 20px rgba(255, 255, 255, 0.5));
    font-size: 25px;
    color: #fff;
    display: flex;
    justify-content: center;
}


.gheDuocChon {
    pointer-events: none;
    border: 3px solid orange;
    background: orange;
    color: #000;
    cursor: no-drop !important;
    border-radius: 5px;
    width: 45px;
    height: 35px;

}

.gheDangChon {
    background: rgb(109, 238, 109);
    border: 3px solid rgb(109, 238, 109);
    color: #000;

    cursor: pointer;
    border-radius: 5px;
    width: 45px;
    height: 35px;

}
p:first-of-type {
    width: 20px;
}